---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"amount":{"value":100,"currency":"USD"},"returnUrl":"https://localhost/adyen/payment_sessions","reference":"R784457925","countryCode":"US","lineItems":[],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R784457925","expiresAt":"2025-07-07T11:37:20Z","allowedPaymentMethods":["blik","visa","mastercard"],"additionalData":{"spree_order_id":1},"shopperName":{"firstName":"John","lastName":"Doe"},"shopperEmail":"elois.grimes@schneider.name","shopperReference":"001","channel":"Web"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - 28e85c63-b4ed-4aff-ba8c-d90b7dfc0bfd
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Idempotency-Key:
      - 28e85c63-b4ed-4aff-ba8c-d90b7dfc0bfd
      Pspreference:
      - T9P2SHFVFQ85K5V5
    body:
      encoding: UTF-8
      string: '{"additionalData":{"spree_order_id":"1"},"allowedPaymentMethods":["blik","visa","mastercard"],"amount":{"currency":"USD","value":100},"channel":"Web","countryCode":"US","expiresAt":"2025-07-07T13:37:20+02:00","id":"CS0FCF928ABF9E266A","lineItems":[],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R784457925","reference":"R784457925","returnUrl":"https:\/\/localhost\/adyen\/payment_sessions","shopperEmail":"elois.grimes@schneider.name","shopperLocale":"en-US","shopperName":{"firstName":"John","lastName":"Doe"},"shopperReference":"001","mode":"embedded","sessionData":"Ab02b4c0!BQABAgA4k42VExq8+zUrlon2CHwgTzH\/OHGkQuCoqx6fkMdBtmUNcAqD\/miGJaoj7XGrSTWxDqO5vD1EX2l2cw9rJc\/pn2PCR9HSNeqGMR1KDivVggI067i2qzRMYpl1sP1KmDIHpTsKmVt5VOYByek9l8Ri8b4hjBNTBml2SxRKpdGoZmNzbRfMHs5QnSlpCahXCPjNCXKIZyy1GeJrOJgG3IE7\/RlJaPwabWNGyaO+wX6hfJHQM6WUwgKfw4AFcksdBQNw9HZfkogi4NbZM3sJZPlXZ2UkDGcyr8E4+\/0stzRd3PD3+is0YVvxslDqE0xB\/fzUTqY0d4IthHL5Nhr\/YAJND3Vo13PZaQTyojxsmtmB7JUno9Mdf3TuGHNXtvg8ooBz3Yaj6MvNzRly4dDPzYoh\/3WLVNBAttXl0fxIUtwtelB+qH08VrSCFpo1lztAA0\/tMs\/P2wUMZUC8Ez8hzD\/VQ7W[...]
