---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"amount":{"value":100,"currency":"USD"},"returnUrl":"https://localhost/adyen/payment_sessions","reference":"R462831802","countryCode":"INVALID","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        28166","id":1,"sku":"SKU-2","quantity":1}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R462831802","expiresAt":"2025-07-07T13:41:18Z","additionalData":{"spree_order_id":1},"shopperName":{"firstName":"John","lastName":"Doe"},"shopperEmail":"loyce@reilly.ca","shopperReference":"001","channel":"Web"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - 74d72851-c59c-41b8-8fbc-12fc957779f5
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Idempotency-Key:
      - 74d72851-c59c-41b8-8fbc-12fc957779f5
      Pspreference:
      - X8HRG2XMVS3JHPT5
    body:
      encoding: UTF-8
      string: '{"status":422,"errorCode":"200","message":"Field ''countryCode'' is
        not valid.","errorType":"validation","pspReference":"X8HRG2XMVS3JHPT5"}'
  recorded_at: Mon, 07 Jul 2025 12:41:18 GMT
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"amount":{"value":100,"currency":"USD"},"returnUrl":"https://localhost/adyen/payment_sessions","reference":"R931473856","countryCode":"INVALID","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        12019","id":1,"sku":"SKU-1","quantity":1}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R931473856","expiresAt":"2025-07-07T14:03:50Z","additionalData":{"spree_order_id":1},"shopperName":{"firstName":"John","lastName":"Doe"},"shopperEmail":"rebbeca@jaskolski.name","shopperReference":"001","channel":"Web"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - 5f425b73-b565-423b-b9a3-dbefa924bcde
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Idempotency-Key:
      - 5f425b73-b565-423b-b9a3-dbefa924bcde
      Pspreference:
      - VD6VD3JVFQ85K5V5
    body:
      encoding: UTF-8
      string: '{"status":422,"errorCode":"200","message":"Field ''countryCode'' is
        not valid.","errorType":"validation","pspReference":"VD6VD3JVFQ85K5V5"}'
  recorded_at: Mon, 07 Jul 2025 13:04:02 GMT
recorded_with: VCR 6.3.1
