---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"amount":{"value":100,"currency":"USD"},"returnUrl":"https://localhost/adyen/payment_sessions","reference":"R801044113","countryCode":"US","lineItems":[],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R801044113","expiresAt":"2025-07-07T12:56:24Z","additionalData":{"spree_order_id":1},"shopperName":{"firstName":"John","lastName":"Doe"},"shopperEmail":"letha@oberbrunner.name","shopperReference":"001","channel":"Web"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - 9db991fa-6b36-43ff-ad51-92f466fed54c
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Idempotency-Key:
      - 9db991fa-6b36-43ff-ad51-92f466fed54c
      Pspreference:
      - LWK3HWL9MCWNRQT5
    body:
      encoding: UTF-8
      string: '{"additionalData":{"spree_order_id":"1"},"amount":{"currency":"USD","value":100},"channel":"Web","countryCode":"US","expiresAt":"2025-07-07T14:56:24+02:00","id":"CS6B11058E72127704","lineItems":[],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R801044113","reference":"R801044113","returnUrl":"https:\/\/localhost\/adyen\/payment_sessions","shopperEmail":"letha@oberbrunner.name","shopperLocale":"en-US","shopperName":{"firstName":"John","lastName":"Doe"},"shopperReference":"001","mode":"embedded","sessionData":"Ab02b4c0!BQABAgB2cQQiQF3OU8ILWgWAKysZSJNBfvyW+FNT2D55+u3AgBhCtJ\/rckfjYZ0l4HMy3A49RuHGgC1FlRq6cdZMPVBM2qhxxMcEU4pny0OJJjd1683XX\/bFfrV4wXahVVlu1u3hABszzh2WgE11I49doSxSQU64IjARibWjxJwXDUeAf3FvyES48Cuaw3vwdH0d36QMDYbxsaFmC6vy5+vpd5\/Vz1azyRlXeufuH+u6Z2MWWonEyHmeFW71FokzyiEYrUFK+bC18F5VVzaCLmoQ31DBk1EE4baMhedAIsrlkln0y4p\/S+ymXjX6CmFRux2C3sWy\/dpsa86xl0JCHGv1ybAH+k0E1rrLY3kBkxruQTqURB1tJooEUKBSjLjyYp8P69CV+ufjeaPYaTrpWLLFNaS1i42L\/N9Uqg5Wl6ZY10727\/njpIDnLfJJcn+mjZ4DAa2fpYc9C4iKsYYimRTSW8SxQcTUgVn[...]
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"amount":{"value":100,"currency":"USD"},"returnUrl":"https://localhost/adyen/payment_sessions","reference":"R367223369","countryCode":"US","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        29447","id":1,"sku":"SKU-2","quantity":1}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R367223369","expiresAt":"2025-07-07T14:04:03Z","additionalData":{"spree_order_id":1},"shopperName":{"firstName":"John","lastName":"Doe"},"shopperEmail":"williemae.kemmer@thiel.ca","shopperReference":"001","channel":"Web"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - 5f15261c-fbab-4739-aefd-4b61a29a41da
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Idempotency-Key:
      - 5f15261c-fbab-4739-aefd-4b61a29a41da
      Pspreference:
      - HZ8VH4N9MCWNRQT5
    body:
      encoding: UTF-8
      string: '{"additionalData":{"spree_order_id":"1"},"amount":{"currency":"USD","value":100},"channel":"Web","countryCode":"US","expiresAt":"2025-07-07T16:04:03+02:00","id":"CS8F79EB923A554CAA","lineItems":[{"amountExcludingTax":1000,"amountIncludingTax":1000,"description":"Product
        29447","id":"1","quantity":1,"sku":"SKU-2","taxAmount":0,"taxPercentage":0}],"merchantAccount":"SpreeCommerceECOM","merchantOrderReference":"R367223369","reference":"R367223369","returnUrl":"https:\/\/localhost\/adyen\/payment_sessions","shopperEmail":"williemae.kemmer@thiel.ca","shopperLocale":"en-US","shopperName":{"firstName":"John","lastName":"Doe"},"shopperReference":"001","mode":"embedded","sessionData":"Ab02b4c0!BQABAgAQ1JLQygD70RX3+ahcMPkh0T+FhQWWZqCwp4Rkn0PLQbzWA01pEwYJRUazR8KAb0Q813+Z++vSBd1z8RotquoK3VUkWlOijHHg4YDBuMkyC6kQ34hJlf8LjB\/tDbEHA1k3oDNqZ9f\/ZR6+[...]
