<% auto_mount ||= false %>

<% if current_adyen_payment_session.present? %>
  <div
    data-controller="checkout-adyen"
    id="dropin-container"
    data-checkout-adyen-checkout-attrubutes="<%= SpreeAdyen::CheckoutPresenter.new(payment_session).to_json %>"
    data-checkout-adyen-payment-session-path-value="<%= spree.adyen_payment_session_url(sessionId: payment_session.adyen_id) %>"
    data-checkout-adyen-checkout-path-value="<%= spree.api_v2_storefront_checkout_path %>"
    data-checkout-adyen-auto-mount-value="<%= auto_mount %>"
  ></div>
<% end %>