---
http_interactions:
- request:
    method: post
    uri: https://management-test.adyen.com/v3/me/allowedOrigins
    body:
      encoding: UTF-8
      string: '{"domain":"https://example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Pspreference:
      - f8e6a983-3bc1-7579-5b18-13f6e675b78b_1-LH4PS6N24FZ28222
      Requestid:
      - f8e6a983-3bc1-7579-5b18-13f6e675b78b_1-LH4PS6N24FZ28222
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/docs.adyen.com\/errors\/validation","title":"Invalid
        allowed origin information provided.","status":422,"requestId":"f8e6a983-3bc1-7579-5b18-13f6e675b78b_1-LH4PS6N24FZ28222","invalidFields":[{"name":"domain","value":"https:\/\/example.com","message":"Origin
        already exists"}],"errorCode":"31_004"}'
  recorded_at: Fri, 08 Aug 2025 15:47:11 GMT
recorded_with: VCR 6.3.1
