---
http_interactions:
- request:
    method: post
    uri: https://management-test.adyen.com/v3/me/allowedOrigins
    body:
      encoding: UTF-8
      string: '{"domain":"https://example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Pspreference:
      - 7080757d-cb70-72a9-d939-d4522e9bddbf_0-TFFPS6N24FZ28222
      Requestid:
      - 7080757d-cb70-72a9-d939-d4522e9bddbf_0-TFFPS6N24FZ28222
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errorCode":"500","message":"Internal Server Error"}'
  recorded_at: Fri, 08 Aug 2025 15:47:11 GMT
recorded_with: VCR 6.3.1
