---
http_interactions:
- request:
    method: get
    uri: https://checkout-test.adyen.com/v71/sessions/CS4FBB6F827EC53AC7?sessionResult=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Pspreference:
      - F7CHQBP9MCWNRQT5
    body:
      encoding: UTF-8
      string: '{"status":500,"errorCode":"701","message":"server could not process
        request","errorType":"internal","pspReference":"F7CHQBP9MCWNRQT5"}'
  recorded_at: Mon, 07 Jul 2025 14:14:14 GMT
recorded_with: VCR 6.3.1
