---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/foobar/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":1000,"currency":"USD"},"reference":"R142767632_1_foobar_refund","merchantAccount":"SpreeCommerceECOM"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Idempotency-Key:
      - 95271443-35c2-41c8-8e53-e540722b5527
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Idempotency-Key:
      - 95271443-35c2-41c8-8e53-e540722b5527
      Pspreference:
      - X4NZMCHN86JCNP65
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":422,"errorCode":"167","message":"Original pspReference required
        for this operation","errorType":"validation","pspReference":"X4NZMCHN86JCNP65"}'
  recorded_at: Wed, 06 Aug 2025 10:45:56 GMT
recorded_with: VCR 6.3.1
