---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/ADYEN_PAYMENT_PSP_REFERENCE/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":0,"currency":"USD"},"reference":"R142767632_1_ADYEN_PAYMENT_PSP_REFERENCE_refund","merchantAccount":"SpreeCommerceECOM"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "ADYEN_API_KEY"
      Idempotency-Key:
      - 0d8ea548-0abc-407c-a60b-7553a0e542fe
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":422,"errorCode":"137","message":"Field ''amount'' is not
        valid.","errorType":"validation","pspReference":"SQLBC925DFMK8B75"}'
  recorded_at: Wed, 06 Aug 2025 11:09:51 GMT
recorded_with: VCR 6.3.1
