<div
  id="redirect-adyen-container"
  data-controller="redirect-adyen"
  data-checkout-adyen-checkout-attrubutes="<%= SpreeAdyen::CheckoutPresenter.new(@payment_session).to_json %>"
  data-checkout-adyen-payment-session-path-value="<%= spree.adyen_payment_session_url(sessionId: @payment_session.adyen_id) %>"
  data-redirect-result="<%= @redirect_result %>"
  data-session-id="<%= @payment_session.adyen_id %>"
 ></div>
