<div class="alert alert-info">
  <div>
    Please follow
    <%= external_link_to 'how to configure Adyen payment method in Spree Commerce guide', 'https://spreecommerce.org/docs/integrations/payments/adyen', class: 'alert-link' %>.
  </div>
</div>