---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/X4G6K4DDZ46B8ZV5/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":1000,"currency":"USD"},"reference":"R142767632_1_X4G6K4DDZ46B8ZV5_refund","merchantAccount":"SpreeCommerceECOM"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - 7e21809b-dd49-4bf2-a426-77af1432c2c8
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Idempotency-Key:
      - 7e21809b-dd49-4bf2-a426-77af1432c2c8
      Pspreference:
      - MK2PZFG9K3MPDKV5
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"merchantAccount":"SpreeCommerceECOM","paymentPspReference":"X4G6K4DDZ46B8ZV5","pspReference":"VVSFXX52QMZGJ2W5","reference":"R142767632_1_X4G6K4DDZ46B8ZV5_refund","status":"received","amount":{"currency":"USD","value":1000}}'
  recorded_at: Tue, 05 Aug 2025 13:09:04 GMT
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/X4G6K4DDZ46B8ZV5/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":800,"currency":"USD"},"reference":"R657488354_1_X4G6K4DDZ46B8ZV5_refund","merchantAccount":"SpreeCommerceECOM"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - 5ab9dd59-6a54-41ce-859d-7425ddd07cdd
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - BASIC realm="Adyen PAL Service Authentication"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":401,"errorCode":"000","message":"HTTP Status Response - Unauthorized","errorType":"security"}'
  recorded_at: Tue, 05 Aug 2025 13:54:22 GMT
[...]
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/X4G6K4DDZ46B8ZV5/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":1000,"currency":"USD"},"reference":"R646322028_1_X4G6K4DDZ46B8ZV5_refund","merchantAccount":"SpreeCommerceECOM"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - 732c8846-7c5c-479a-a251-a4bb3f86cddc
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - BASIC realm="Adyen PAL Service Authentication"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":401,"errorCode":"000","message":"HTTP Status Response - Unauthorized","errorType":"security"}'
  recorded_at: Tue, 05 Aug 2025 14:03:52 GMT
recorded_with: VCR 6.3.1
