---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/ADYEN_PAYMENT_PSP_REFERENCE/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":800,"currency":"USD"},"reference":"R142767632_1_ADYEN_PAYMENT_PSP_REFERENCE_refund","merchantAccount":"SpreeCommerceECOM"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - d1b738f4-715d-4ddd-bbee-0a8e5fcfe343
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"merchantAccount":"SpreeCommerceECOM","paymentPspReference":"ADYEN_PAYMENT_PSP_REFERENCE","pspReference":"C8B3S4HDZ46B8ZV5","reference":"R598258713_1_ADYEN_PAYMENT_PSP_REFERENCE_refund","status":"received","amount":{"currency":"USD","value":800}}'
  recorded_at: Tue, 05 Aug 2025 13:55:41 GMT
[...]
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/ADYEN_PAYMENT_PSP_REFERENCE/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":800,"currency":"USD"},"reference":"R034530046_1_ADYEN_PAYMENT_PSP_REFERENCE_refund","merchantAccount":"SpreeCommerceECOM"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - d9592c70-1732-480c-b40a-96618c837a12
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - BASIC realm="Adyen PAL Service Authentication"
    body:
      encoding: UTF-8
      string: '{"status":401,"errorCode":"000","message":"HTTP Status Response - Unauthorized","errorType":"security"}'
  recorded_at: Tue, 05 Aug 2025 14:02:43 GMT
[...]
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/ADYEN_PAYMENT_PSP_REFERENCE/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":800,"currency":"USD"},"reference":"R179259576_1_ADYEN_PAYMENT_PSP_REFERENCE_refund","merchantAccount":"SpreeCommerceECOM"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Idempotency-Key:
      - fe680a01-cd0f-4adc-a5ad-d9ad2a99fc04
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - BASIC realm="Adyen PAL Service Authentication"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":401,"errorCode":"000","message":"HTTP Status Response - Unauthorized","errorType":"security"}'
  recorded_at: Tue, 05 Aug 2025 14:03:53 GMT
recorded_with: VCR 6.3.1
