---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/X4G6K4DDZ46B8ZV5/refunds
    body:
      encoding: UTF-8
      string: '{"amount":{"value":1000,"currency":"USD"},"reference":"R142767632_1_X4G6K4DDZ46B8ZV5_refund","merchantAccount":"SpreeCommerceECOM","applicationInfo":{"externalPlatform":{"name":"Spree
        Commerce","version":"42.0.0","integrator":"Spree Adyen"}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Pspreference:
      - ADYEN_PSP_REFERENCE
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"merchantAccount":"SpreeCommerceECOM","paymentPspReference":"ADYEN_PAYMENT_PSP_REFERENCE","pspReference":"ADYEN_PSP_REFERENCE","reference":"R142767632_1_X4G6K4DDZ46B8ZV5_refund","status":"received","amount":{"currency":"USD","value":1000}}'
  recorded_at: Mon, 25 Aug 2025 13:33:43 GMT
recorded_with: VCR 6.3.1
