---
http_interactions:
- request:
    method: get
    uri: https://checkout-test.adyen.com/v71/sessions/CS4FBB6F827EC53AC7?sessionResult=resultData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - secret
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.3.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Pspreference:
      - PSVRSDCNVS2S2LV5
    body:
      encoding: ASCII-8BIT
      string: '{"additionalData":{"isCardCommercial":"unknown","recurringProcessingModel":"CardOnFile","paymentMethod":"mc","tokenization.shopperReference":"foobar","tokenization.storedPaymentMethodId":"LH9XQ2ZBCFVJPPT5"},"id":"CS4FBB6F827EC53AC7","payments":[{"amount":{"currency":"EUR","value":1000},"paymentMethod":{"brand":"mc","type":"scheme"},"pspReference":"VMLWMSBWZZSBJWT5","resultCode":"Authorised"}],"reference":"d84f20d9-4a06-4173-96ca-02486188e192","status":"paymentPending"}'
  recorded_at: Mon, 07 Jul 2025 14:09:31 GMT
