---
http_interactions:
- request:
    method: get
    uri: https://management-test.adyen.com/v3/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"CRED42CLS22322945MZF5ZNDQ26BBP","username":"username@Company.SpreeCommerce","description":"testing
        auto-configure","clientKey":"test_UN5FFTJ7SVG75CDZV73OZFOLBUITW63N","allowedIpAddresses":[],"roles":["Management
        API - Accounts read","Management API - Webhooks read","Cloud Device API role","Management
        API - API credentials read and write","Management API - Stores read","Management
        API — Payment methods read","Allow SDK download for POS developers","API Clientside
        Encryption Payments role","Management API - Stores read and write","Management
        API - Webhooks read and write","Checkout encrypted cardholder data","Merchant
        Recurring role","Data Protection API","Management API - Payout Account Settings
        Read","Checkout webservice role","Management API - Accounts read and write","Merchant
        PAL Webservice role"],"active":true,"_links":{"self":{"href":"https:\/\/management-test.adyen.com\/v3\/me"},"allowedOrigins":{"href":"https:\/\/management-test.adyen.com\/v3\/me\/allowedOrigins"}},"associatedMerchantAccounts":["SpreeCommerceECOM"],"companyName":"SpreeCommerce"}'
  recorded_at: Thu, 14 Aug 2025 11:03:40 GMT
- request:
    method: post
    uri: https://management-test.adyen.com/v3/merchants/SpreeCommerceECOM/webhooks/WBHK42CLX22322945MWKG7R6LH6G9V/test
    body:
      encoding: UTF-8
      string: '{"types":["AUTHORISATION"]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<ADYEN_API_KEY>"
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"output":"The server did not respond with HTTP 2XX.","requestSent":"{\"live\":\"false\",\"notificationItems\":[{\"NotificationRequestItem\":{\"additionalData\":{\"expiryDate\":\"12\\\/2012\",\"authCode\":\"1234\",\"cardSummary\":\"7777\",\"totalFraudScore\":\"10\",\"hmacSignature\":\"UFfhnJvporql2M6M0M5lGBFyKdsny\\\/3gJiybxhCJryQ=\",\"NAME2\":\"VALUE2\",\"NAME1\":\"VALUE1\",\"fraudCheck-6-ShopperIpUsage\":\"10\"},\"amount\":{\"currency\":\"EUR\",\"value\":10100},\"eventCode\":\"AUTHORISATION\",\"eventDate\":\"2025-08-14T13:03:41+02:00\",\"merchantAccountCode\":\"SpreeCommerceECOM\",\"merchantReference\":\"8313842560770001\",\"operations\":[\"CANCEL\",\"CAPTURE\",\"REFUND\"],\"paymentMethod\":\"visa\",\"pspReference\":\"BVM7DTNRK29F2S75\",\"reason\":\"1234:7777:12\\\/2012\",\"success\":\"true\"}}]}","responseCode":"404","responseTime":"106
        ms","status":"failed"}]}'
  recorded_at: Thu, 14 Aug 2025 11:03:41 GMT
recorded_with: VCR 6.3.1
